body {
    font-family: sans-serif;
    background: #f8f6f3;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #fff;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 20px;

  }
  
.nome-logo{
  font-family: Arial;
  font-size: x-large;

}
  .main-content {
    padding: 2rem;
  }
  
  .actions {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .actions button {
    padding: 0.5rem 1.5rem;
    border: none;
    background: #ddd;
    cursor: pointer;
  }
  
  .actions .active {
    background: #ccc;
    font-weight: bold;
  }
  
  .rental-form {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  input {
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .categories {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    display: flex;
    display: flex;
    justify-content: center; 
    align-items: center;    
    margin-top: 200px;
    
  }
  
  .card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    flex: 1;
    max-width: 200px;   
  }
  
  .card img {
    max-width: 100%;
    height: 70%;
    border-radius: 6px; 
  }


  .card .utilitarios{
    height: 120px;
    max-width: 200px;
  }